[user]
	email = tjy1965@gmail.com
	name = Yamashita TAKAO
[color]
	ui = auto
[push]
	default = matching
[review "gerrit.sudoservers.com"]
	usernmae = tjy1965
	email = tjy1965@gmail.com
[credential]
	helper = cache
