\#*
.\#*
*~

*.elc
*.pyc
*.log
*.db

.bash_history
.recentf
.xsession-errors
.lesshst
.tmp

.adobe
.android
.anthy
.dbus
.cache
.config
.emacs.d
.java
.jd
.macromedia
.local
.pki
.subversion
.thumbnails
.Xauthority
.ssh
.Skype
.mpd
arch
gdatafs
tmp
Downloads
!.keep
!.gitignore
!.dzen*
!.conky*
!.config/awesome
!.config/qtile
!.config/mpd
!.i3
!.mplayer
!.vim
!.vimencrypt
!.vimrc
!.viminfo
pkg/
src/
trunk/

/.gnupg/
/.subversion/

*.swp
*~
*.tmp
tags

.MTREE
.PKGINFO 

*.part
*.7z
*.asc
*.bz2
*.bzip
*.db
*.db.*
*.deb
*.dmg
*.egg
*.exe
*.gem
*.gz
*.iso
*.jar
*.java
*.lzma
*.log
Makefile*
*.o
*.out
*.pdf
*.rar
*.rpm
*.sig
*.tar
*.tgz
*.xpi
*.xz
*.zip
*.key
*.h
*.c
